@import '../../styles/mixins.scss';

.listItem {
    display: grid;
    // height: 100%;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: 560px 560px;
    gap: 16px;
    @include Responsive(LG) {
        grid-template-rows: 560px 560px 560px;
    }
    @include Responsive(MD) {
        grid-template-rows: 560px 560px 560px 560px 560px;
    }
    @include Responsive(SM) {
        grid-template-rows: 300px 300px 300px 300px 300px;
    }
}

.item {
    // height: 560px;
    &:first-child {
        grid-column: col-start 1 / span 8;
        grid-row: 1;
    }
    &:nth-child(2) {
        grid-column: col-start 9 / span 4;
        grid-row: 1;
    }
    @for $i from 0 through 2 {
        &:nth-child(#{$i + 3}) {
            grid-column: col-start #{$i * 4 +1} / span 4;
            grid-row: 2;
        }
    }
    @include Responsive(LG) {
        width: 100%;

        &:first-child {
            grid-column: col-start / span 12;
            grid-row: 1;
        }
        &:nth-child(2) {
            grid-column: col-start / span 6;
            grid-row: 2;
        }
        &:nth-child(3) {
            grid-column: col-start 7 / span 6;
            grid-row: 2;
        }
        &:nth-child(4) {
            grid-column: col-start / span 6;
            grid-row: 3;
        }
        &:nth-child(5) {
            grid-column: col-start 7 / span 6;
            grid-row: 3;
        }
    }

    @include Responsive(MD) {
        @for $i from 0 through 4 {
            &:nth-child(#{$i + 1}) {
                grid-column: col-start / span 12;
                grid-row: $i + 1;
            }
        }
    }
}
