@use '../../scss/' as *;

.wrapper {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
    text-transform: capitalize;
    align-items: center;
}

.title {
    @include Responsive(MD) {
        @include font-text(500, 30px, 48px);
    }
}

.btn {
    cursor: pointer;
    color: $bg-button;
    @include Responsive(MD) {
        @include font-text(500, 18px, 24px);
    }
}
