@import 'normalize.css';
@import './variables.scss';

// :root {
//     $primary-dark-gray: #1e1e1e;
//     $primary-gold: #525252;
//     $primary-light: #e6e6e6;
//     $primary-text-black: #000000;
//     $primary-text-white: #ffffff;
//     $title-color: #2e2e2e;
//     $body-color: #808080;
//     $text-color: #cccccc;
//     $disable-color: #e6e6e6;
//     $placeholder-color: #333333;
//     $secondary-medium-gray: #3d3d3d;
//     $secondary-shadow-gold: #302d28;
//     $bg-button: #fed530;
//     $transparent-bg: linear-gradient(
//         to top,
//         transparent 0%,
//         rgb(0, 0, 0, 0.3) 50%
//     );
//     $bg-linear: linear-gradient(270deg, #000000 -2.92%, rgba(0, 0, 0, 0) 100%);
//     $header-height: 104px;
//     $card-height: 560px;
// }

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // font-family: 'DM Sans', sans-serif;
    text-rendering: optimizeSpeed;
    color: $primary-text-white;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: $primary-text-white;
    text-decoration: none;
}
