@use '../scss/' as *;
@import 'normalize.css';
@import 'antd/dist/antd.css';
@import 'swiper/css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-rendering: optimizeSpeed;
    color: $primary-text-white;
    background: $primary-dark-gray;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: $primary-text-white;
    text-decoration: none;
}

.swiper {
    width: 100%;
    height: 100%;
}

// .swiper-slide img {
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
// }
.swiper-button-prev {
    // left: -28px !important;
}
.swiper-button-next {
    // right: -28px !important;
}
