@import '../../styles/variables.scss';

.wrapper {
    height: 100%;
    background: var(--title-color);
    width: 100%;
    flex: 5;
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    gap: 99px;
    padding-top: 133px;
    padding-right: 115px;
}

.menuItem {
    display: flex;
    gap: 161px;
}

.listItem {
    list-style: none;
    display: flex;
    gap: 24px;
    flex-direction: column;
    & > *:first-child {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
}

.item {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-transform: capitalize;
    color: var(--disable-color);
}

.contact {
    display: flex;
    align-items: center;
    gap: 26px;
}

.contactItem {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
        width: 20px;
        height: 20px;
        font-weight: bold;
    }
    span {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
}
